<div class="profile">
    <h3>Notification preferences</h3>
   
        <div class="flex-col profile-inner">
            <h4>Desktop notifications</h4>
            <div class="flex less-gap space-between">
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <p class="marg-top">Get notifications in this browser</p>
            </div>
        </div>
        <div class="profile-inner flex-col">
            <h4>Your preferences</h4>
            <div class="flex less-gap space-between">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="marg-top">Subscriptions</p>
            </div>
            <div class="flex less-gap space-between">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  <p class="marg-top">
                    Recommended videos</p>
                </div>
                <div class="flex less-gap space-between">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                      <p class="marg-top">Mentions</p>
                    </div>
                    <div class="flex less-gap space-between">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                          <p class="marg-top">Others reusing my content</p>
                        </div>
                        <div class="flex less-gap space-between">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <p class="marg-top">Promotional content and offerings</p>
                            </div>
                         
    </div>
    <div>
    </div>
    <div class="profile-inner flex-col">
        <h4>Email notifications</h4>
        <div class="flex less-gap space-between">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="marg-top long-p">
                Send me emails about my activity</p>
        </div>
        <div class="flex less-gap  space-between">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="marg-top">Creator updates and announcements</p>
        </div>
        <div class="flex less-gap space-between">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="marg-top">General product updates</p>
        </div>
        <div class="left">
         <input type="submit" value="Submit Changes">
        </div>
    </div>
    </div>

