<div class="profile">
    <h3>Account Privacy</h3>
    <div class="profile-inner flex-col">
        <h4>Profile page settings</h4>
        <div class="flex less-gap space-between">
            
            <label class="switch">
                <input type="checkbox" id="showProfile" name="showProfile" value="true" checked>
                <span class="slider"></span>
              </label>
              <p class="marg-top">
                Show your profile to loggen-in users</p>
            </div>
            <div class="flex less-gap space-between">
            <label class="switch">
                <input type="checkbox" id="showProfile2" name="showProfile2" value="true">
                <span class="slider"></span>
              </label>
              <p class="marg-top">
                Show your subscriptions on your profile page</p>
           </div>
             <input type="submit" value="Submit" formaction="/">
              </div>   
               
             
        </div>
    
