<div class="profile">
    <h3>My Profile</h3>
    <div class="profile-inner first">
        <div class="flex-first">
        <div>
        <img class="img" src="https://picsum.photos/200" alt="profile-image" height="100">
     </div>
        <div class="">
            <h3>Lalisa M.</h3>
            <p>Singer</p>
            <p>Bangkok, Thailand</p>
        </div>
    </div>
        <div>
            <a href="/">Edit <i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>
    <div  class="profile-inner information">
        <div class="flex space-between">
            <h4>Personal Information</h4> 
             <div class="edit">
            <a href="/">Edit <i class="fa-solid fa-pencil"></i></a>
        </div>
        </div>
        
        <div class="flex">
            <div> <p>First Name</p><p class="bolder">Lalisa</p></div>
            <div><p>Last Name</p><p class="bolder">Manobal</p></div>
           

        </div>
        <div class="flex">
            <div> <p>Email address</p><p class="bolder">lalisamanobal@hotmail.com</p></div>
            <div><p>Phone</p><p class="bolder">+12345678910</p></div>
           

        </div>
        <div>
            <div> <p>Bio</p><p class="bolder">Blackpink</p></div>
        </div>
      
    </div>

    <div  class="profile-inner address">
        <div class="flex space-between"> 
            <h4>Address</h4>
              <div class="edit">
            <a href="/">Edit <i class="fa-solid fa-pencil"></i></a>
        </div>
        </div>
       
        <div class="flex">
            <div> <p>Country</p><p class="bolder">Thailand</p></div>
            <div><p>City/State</p><p class="bolder">Bangkok</p></div>
           

        </div>
        <div class="flex">
            <div> <p>Postal Code</p><p class="bolder">10100</p></div>
            <div><p>TAX ID</p><p class="bolder">123456789</p></div>
           

        </div>
      
    </div>


</div>