<div class="profile">
    <h3>Account Security</h3>
    <div class="profile-inner">
        <div class="flex-col">
           
            <div class="flex-col less-gap">
            <label for="currentPassword">Enter current password</label>
            <input type="password" name="currentPassword" id="currentPassword">
            </div>
            <div class="flex-col less-gap">
            <label for="newPassword">Enter new password</label>
            <input type="password" name="newPassword" id="newPassword">
        </div>
        <div class="flex-col less-gap">
            <label for="checkNewPassword">Re-type new password</label>
            <input type="password" name="checkNewPassword" id="checkNewPassword">
        </div>
        <div>
            <input id="change" type="submit" value="Change Password" formaction="/">
        </div>
    
        </div>
    </div>
    <div class="profile-inner flex-col less-gap">
        <h4>Multi-factor Authentication</h4> 
       <p class="long-p">Increase your account security by requiring that a code emailed to you be entered when you log in.</p> 
       <a class="enable" href="/">Enable</a>
    </div>
</div>