<div class="profile">

    <h3>Subscriptions</h3>
    <div class="profile-inner flex-col less-gap">
        <h4>Manage your subscriptions</h4>
        <p class="bolder">Active plans</p>
        <ul>
            <li class="no-sub">You don’t have any active subscriptions</li>
        </ul>

    </div>
    <div class="profile-inner flex-col less-gap">
        <h4>Personal Plan</h4>
        <p class="long-p">New opportunities await. Sign up for Personal Plan to get all this and more:</p>
        <ul>
            <li>Access to all videos</li>
            <li>Early access to new videos</li>
            <li>Members-Only Community</li>
            
        </ul>
        <div class="flex less-gap space-between">
        <a class="subscribe-a" href="/">Subscribe</a>
        <a class="learn" href="/">Learn more</a>
    </div>
        <p>Starting at ₺.. per month after 7-day trial. Cancel anytime.</p>
    </div>
</div>